<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,600&family=Roboto:wght@500;700&display=swap');
</style>

/* Start Camera Section  */
* {
  margin: 0;
  padding: 0;


}
body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
.container{
    height: 650px;
    margin-top: 5%;
    
}
.top-section{
    display: flex;
    gap: 15%;
    align-items: center;
    margin-left: 50px;
}
.camera-heading h1{
    font-size: 60px;
    color: #3A3A3A;
    font-weight: 580;

}
.camera-heading p{
   font-weight: 580;
}

.camera-image img{
    width: 100%;
}
.primary-button{
  text-align: center;
padding: 10px;
background-color: #E02C6D;
width: 25%;
font-weight: 700;
color: #fff;
border-radius: 15px;
cursor: pointer;
border-color: #fff;

}
.primary-button:hover{
    background-color: #000;
    color: #fff;
    transition: 2s;
}
.right-arrow{
    width: 15px;
}
/* End Camera Section  */


.top-section .logo-image{
margin: auto;
display: flex;
gap: 60px;

}
.company-logo{
    border-bottom: 1px solid #AAA;
    border-top: 1px solid #AAA;
    padding: 20px;
    width: 90%;
  
}



/* Start Popular Collection Section  */


.product{
 width: 330px;
 height: 476px;
    
    
}
.product-img img{
    width: 300px;
    height: 256px;
}

.product-items h1{
    text-align: center;
}
.product-dolar h4{
    font-size: 30px;
    font-weight: 400;
}

.rating .fas{
    color: #FB8200;
}
.rating-number{
    font-weight: 700;
    margin-left: 10px;
    color: #5E6366;
}

.product-text{
    color: #5E6366;
}

